*{
    box-sizing: border-box;
    outline: none;
    border-style: none;
    box-shadow: none;
}

body{
    background-color: rgb(90, 90, 90);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

form{
    width: 100%;
}

input, select{
    width: 24%;
    height: 30px;
    border: 2px solid burlywood;
}

input:focus{
    box-shadow: 0 0 5px chocolate;
}

table,tr,th,td{
    border: 2px solid black;
    text-align: center;
    width: 400px;
    max-width: 400px;
    word-wrap: break-word;
}

table{

    padding: 30px;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #CCCCCC
}

tr:nth-child(odd) {
    background: #FFFFFF
}

th{
    padding: 10px 10px;
    background-color: khaki; 
}

.moneytracking{
    width: 1050px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    background-color:#FFFFFF;

    border-radius: 15px;
}

.moneymovements{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.container-totals{
    height: 30px;
    width: 100%;
}

.totalexpenses{
    float: left;
}

.totalreceipts{
    float: right;
} 

.totalexpense{
    width: 60px;
    text-align: left;
}

.totalreceipt{
    width: 60px;
    float: right;
}

.expensesTable{
    float: left;
}

.receitsTable{
    float: right;
}

.result{
    width: 100%;
    height: 60px;

    text-align: center;
    font-size: 22px;
    font-weight: bold;

    clear: both;
}

#text{
    float: left;
}

#resultBox{
    width: 25%;
    height: 40px;
    margin: 0 auto;
    padding: 6px 0;
    border: 2px solid gold;
}