body{
    margin:20px;
    background-color: #4DB0F8;
}

.container {
    max-width: 700px;
}

.wallet{
    margin: 0 auto;
    
    background-color: #FFFFFF;
}

.mainrow{
    padding: 10px 0;
    height: 100%;
}

.mywallet{
    background-color: #FAFBFB;
}

.text{
    font-size: 28px;
    font-weight: 100;
}

.fa-ellipsis-h{
    margin-top: 8px;

    opacity: 0.1;
}

.transactions,.transactionslist{
    margin-left: 0;
    margin-right: 0;
}

.listtitle{
    opacity: 0.4;
}

.transactionslist{
    padding: 10px 0 15px;
    border-top: 1px solid rgba(117, 116, 116, 0.05);
}

.balance{
    margin-right: 12px;
    color:#5AABFF;
}

.€{
    font-size: 20px;
}

.totalbalance{
    font-size: 30px;
}

.icon{
    padding-left: 0;
}

.plusicon{
    margin-top: 8px;
    color:#83D13F;
}

.minusicon{
    margin-top: 8px;
    color:#FC7373;
}

.fa-circle{
    margin-top: 3px;
    font-size: 18px;
}

.fa-plus-circle{
    font-size: 14px;
}

.transfer{
    font-size: 14px;
}

.transfername{
    font-weight: bold;
    opacity: 0.4;
}

.transfervalue{
    padding-left: 0; 
    font-weight: bold;
}

.positive{
    color: #83D13F;
}

.negative{
    color:#FC7373;
}

.transferdescription{
    line-height: 8px;
    font-size: 13px;
    opacity: 0.3;
}